body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #1e293b;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: #1e293b;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

button {
  background: #22c55e;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.footer {
  background: #020617;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
  border-top: 1px solid #1e293b;
}

.cart {
  padding: 20px;
}

.cart-item {
  background: #1e293b;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
}